.margin_lable{
    padding-left:10% !important;
}
.my_o_setting_left_pane{
    width: 180px;
    float: left;
    /*border-left: 1px solid #bbbbbb;*/
}
.my_o_setting_right_pane{
    float: left;
    /*margin-left: 10px;*/
    border-left: 1px solid #bbbbbb;
    padding-left: 10px;
    width: 210px;
}
.my_hh_implement_field{
    width:0 !important;
}